.section__welocome {
  @include content-padding-inline;

  text-align: center;
  margin: 0 auto;
  padding-top: 120px;
  width: 280px;

  @include on-tablet {
    width: 558px;
  }

  @include on-small-desktop {
    width: 716px;
  }

  @include on-design {
    width: 754px;
  }

  &__parent {
    @include hover(transform, scale(1.05));
    @include poppins(600);

    font-size: 32px;
    line-height: 48px;
    color: $dark-text-color;
  }

  &__child {
    @include hover(transform, scale(1.05));
    @include open-sans(600);

    font-size: 24px;
    line-height: 36px;
    color: $gray-text-color;
  }
}
