@import 'utils';

// header
@import 'blocks/header/slider';
@import 'blocks/header/top-bar';
@import 'blocks/header/header';

// main
@import 'blocks/main/main';
@import 'blocks/main/welcome';
@import 'blocks/main/expertise';
@import 'blocks/main/services';
@import 'blocks/main/testimonials';
@import 'blocks/main/cta';

// footer
@import 'blocks/footer/footer';
@import 'blocks/footer/footer__form';
@import 'blocks/footer/footer__contacts';
@import 'blocks/footer/footer__bottom';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $light-gray-bg-color;
}
